.fas {
    color: gray !important;
}
a:hover {
    color: white !important;
}
a.dropdown-item:hover {
    color: black !important;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
  }